---
// FAQItem.astro
export interface Props {
  question: string;
  answer: string;
}

const { question, answer } = Astro.props;
---

<div class="border-b border-blue-100">
  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 p-4 text-gray-900 transition-all hover:bg-blue-50"
    >
      <h3 class="text-lg font-medium">
        {question}
      </h3>

      <svg
        class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180 text-blue-600"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"></path>
      </svg>
    </summary>

    <div class="px-4 py-4">
      <p class="text-blue-gray-700">
        {answer}
      </p>
    </div>
  </details>
</div>
