---
// HowItWorks.astro
import { processSteps } from "../../data/process";
import ProcessStep from "./ProcessStep.astro";
---

<!-- How It Works Section -->
<section id="how-it-works" class="py-20 bg-background flex justify-center">
  <div class="container px-4 md:px-6">
    <div
      class="flex flex-col items-center justify-center space-y-4 text-center"
    >
      <div class="space-y-2">
        <div
          class="inline-block rounded-lg bg-primary/10 px-3 py-1 text-sm text-primary"
        >
          How It Works
        </div>
        <h2 class="text-3xl font-bold tracking-tighter md:text-4xl/tight">
          Your pathway to efficient speech testing
        </h2>
        <p
          class="max-w-[900px] text-muted-foreground md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
        >
          Streamline your workflow from data collection to analysis and
          reporting.
        </p>
      </div>
    </div>
    <div class="mx-auto grid max-w-6xl grid-cols-1 gap-10 py-12 md:grid-cols-3">
      {
        processSteps.map((step) => (
          <ProcessStep
            number={step.number}
            title={step.title}
            features={step.features}
          />
        ))
      }
    </div>
  </div>
</section>
