---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Color Palette Showcase</title>
  </head>
  <body class="bg-palette-blue-grey-50 min-h-screen p-8">
    <!-- ...empty main page... -->
  </body>
</html>
